# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
# /.vscode
# .vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak

!jdCookie.*bak

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache

/build
.vscode

dist
dist-ssr
*.local
CookieSet.json
jdCookie.js
aEnv.js
main.3b9712aa.js
.gitignore
JD_DailyBonus.js
